<mat-sidenav-container class="admin-container">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <div class="brand">
      <h2>Panel Admin</h2>
      <p>Ecommerce Takeshy</p>
    </div>

    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navItems" [routerLink]="item.link" routerLinkActive="active-link">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </mat-nav-list>

    <button mat-stroked-button color="warn" class="logout" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Cerrar sesión
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="top-toolbar">
      <span>Administración</span>
    </mat-toolbar>

    <div class="admin-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
